* {
  -webkit-user-select: none;
}

body {
  background-image: url('images/htmlbg.png')
}

.files {
  padding: 0;
  margin: 0;
}

.file {
  padding: 2px;
  margin: 2px;
  width: 80px;
  display: inline-block;
  overflow: hidden;

  text-align: center;
  vertical-align: top;
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}

.file .name {
  width:     100%;
  word-wrap: break-word;
}

.file.focus .name {
  color: white;
}

.file .icon {
  margin: auto;
  margin-top: 0;
  /*width: 60px;*/
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}

.file .icon img {
  width: 100%;
}

#thumb-size-input {
  max-width: 100%;
}

#files {
  background: #FFF; -webkit-border-radius: 2px;
  margin: -5px 1px 0 -19px;
  height: 100%;
  overflow: auto;
}

.directory > h2 {
    font-size:  1.4em;
    background: gainsboro;
    padding:    0 0.25em;
    color:      grey;
    border:     1px dotted gray;
}

.folder {
  margin: 5px;
}